
  <footer th:fragment="footer" class="footer text-white pt-5 pb-3">
  <div class="container">
    <div class="row">
      <!-- About -->
      <div class="col-md-4 mb-3">
        <h5>About InsuraFlow</h5>
        <p>InsuraFlow is your trusted partner in health insurance. We make policy management and claims easy and transparent.</p>
      </div>
      <!-- Quick Links -->
      <div class="col-md-4 mb-3 ">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a th:href="@{/home}" class="text-white ">Home</a></li>
          <li><a th:href="@{/home}" class="text-white ">Policies</a></li>
          <li><a th:href="@{/home}" class="text-white ">Claims</a></li>
          <li><a th:href="@{/home}" class="text-white ">Support</a></li>
        </ul>
      </div>
      <!-- Contact -->
      <div class="col-md-4 mb-3">
        <h5>Contact</h5>
        <p><i class="bi bi-solid bi-envelope"></i> support@insuraflow.com</p>
        <p><i class="bi bi-solid bi-phone"></i> +91 98765 43210</p>
        <p><i class="bi bi-solid bi-geo-alt"></i> Kochi, Kerala</p>
      </div>
    </div>
    <hr class="bg-light">
    <div class="text-center">
      <p class="mb-0">&copy; 2025 InsuraFlow. All Rights Reserved.</p>
    </div>
  </div>
</footer>

